@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-menu-submenu-title {
  padding: 1px 1px 1px 3px !important;
}

.rc-menu-horizontal {
  width: fit-content;
  border: none;
  background-color: transparent;
}

@layer {
  .main {
    @apply h-screen w-screen overflow-hidden flex flex-col;
  }
}
