@import "tailwindcss";

@theme {
  --color-primary-500: #2c2b6d;
  --color-primary-600: #1a1954;

  /* background colors */
  --color-background-primary: #fafafa;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer {
  .main {
    @apply h-screen w-screen overflow-hidden flex flex-col;
  }

  .layout {
    @apply h-screen w-screen overflow-y-scroll flex flex-col;
  }
}
