@import "tailwindcss";

@theme {
  /* background colors */
  --color-primary-500: #2c2b6d; /* Main buttons, navigation bars, input outlines */
  --color-primary-600: #1a1954; /* Hover states for primary components */
  --color-background-primary: #fafafa; /* Page/card backgrounds */
  --color-active: #222222; /* Active links/indicators */
  --color-action-nav: #143d59; /* Form/action redirect links background */
  --color-action-nav-hover: #0f2f47; /* Hover colors for form/action redirect links background */

  /* text colors */
  --color-breadcrumb-active: #4658ac; /* Current page in breadcrumbs */
  --color-breadcrumb-inactive: #71717a; /* Inactive breadcrumb links */

  /* border colors */
  --color-accent-500: #4763e4; /* Searchbar borders, interactive element highlights */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide the number input arrows in most browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.szh-accordion__item-btn {
  @apply w-full cursor-pointer flex flex-col justify-start items-start;
}

@layer components {
  .main {
    @apply h-screen w-screen overflow-hidden flex flex-col;
  }

  .layout {
    @apply h-screen w-screen flex flex-col;
  }

  .anchor {
    @apply cursor-pointer;
  }
}
