@import "tailwindcss";

@theme {
  /* background colors */
  --color-primary-500: #2c2b6d;
  --color-primary-600: #1a1954;
  --color-background-primary: #fafafa;
  --color-active: #222222;

  /* text colors */
  --color-breadcrumb-active: #4658ac;
  --color-breadcrumb-inactive: #71717a;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.szh-accordion__item-btn {
  @apply w-full cursor-pointer flex flex-col justify-start items-start;
}

@layer components {
  .main {
    @apply h-screen w-screen overflow-hidden flex flex-col;
  }

  .layout {
    @apply h-screen w-screen overflow-y-scroll flex flex-col;
  }

  .anchor {
    @apply cursor-pointer;
  }
}
